@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #f0f0f3;
  display: block;
}

.pic{
  height: 92vh !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  object-fit: fill;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #565663;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #79798d;
}